//Login buttons
.login__buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
}
.login__button {
	justify-content: space-between;
	margin: 5px;
	height: 35px;
	width: 150px;
	border-radius: 5px;
	border: 0;
	background-color: $colorPrimary;
	color: $colorBlack;
	opacity: 0.8;
	font-weight: bold;
	cursor: pointer;
	background: -webkit-linear-gradient($colorWhite, $colorPrimary 60%);
	&:hover{
		opacity: 1;
	}
	@media all and(min-width: 810px){
		width: 200px;
		height: 35px;
	}
}
.new__user{
	background-image: url('../images/newUserBlack32.png'), -webkit-linear-gradient($colorWhite, $colorPrimary 80%);
	background-repeat: no-repeat;
	background-position: right;
	color: $colorBlack;
}
//Timer control button
.folder__btn {
	background: url('../images/folder.png') center no-repeat;
	background-size: cover;
	height: 50px;
	width: 50px;
	border: none;
	cursor: pointer;
}
.project__btn{
	margin: 10px;
	height: 35px;
	border-radius: 5px;
	border: 0;
	background-color: $colorPrimary;
	color: #282626;
	font-weight: bold;
	cursor: pointer;
	background: -webkit-linear-gradient($colorWhite, $colorPrimary 60%);
	@media all and(min-width: 810px){
		width: 190px;
		height: 35px;
	}
}
.project__btn--add {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	font-weight: bold;
}
.timer__buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	min-width: 200px;
}
.timer__btn{
	margin: 10px;
	border-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 40px;
	width: 40px;
}
.timer__btn--play {
	background: url('../images/play.png') no-repeat center;
	background-size: cover;
}
.timer__btn--stop {
	background: url('../images/stop.png') no-repeat center;
	background-size: cover;
}
//Exit user button
.btn_exit--user{
	background-image: url('../images/iconExit32.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	height: 35px;
	width: 35px;
	margin-right: 5px;
	margin-left: -30px;
	margin-top: 60px;
	@media all and(min-width: 500px){
		margin-right: 20px;
	}
}
