//Login buttons
.login__buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
}
.login__button {
	justify-content: space-between;
	margin: 5px;
	height: 35px;
	width: 150px;
	border-radius: 5px;
	border: 0;
	background-color: $colorPrimary;
	color: $colorBlack;
	opacity: 0.8;
	font-weight: bold;
	cursor: pointer;
	background: -webkit-linear-gradient($colorWhite, $colorPrimary 60%);
	&:hover{
		opacity: 1;
	}
	@media all and(min-width: 810px){
		width: 200px;
		height: 35px;
	}
}
.new__user{
	background-image: url('../images/newUserBlack32.png'), -webkit-linear-gradient($colorWhite, $colorPrimary 80%);
	background-repeat: no-repeat;
	background-position: right;
	color: $colorBlack;
}
//Timer control button
.addproject__btn{
	margin: 5px;
	height: 35px;
	width: 80px;
	border-radius: 5px;
	border: 0;
	background-color: $colorPrimary;
	color: #282626;
	font-weight: bold;
	cursor: pointer;
	background: -webkit-linear-gradient($colorWhite, $colorPrimary 60%);
	@media all and(min-width: 810px){
		width: 190px;
		height: 35px;
	}
}
.timer__buttons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	min-width: 200px;
}
.timer__btn{
	margin: 10px;
	border-radius: 50%;
	border-style: none;
	background-color: $colorWhite;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
}
.timer__btn--play{
	color: $colorGreen;
	cursor: pointer;
	font-size: 24px;
}
.timer__btn--stop{
	color: $colorRed;
	cursor: pointer;
	font-size: 30px;
}
//Exit user button
.btn_exit--user{
	background-image: url('../images/iconExit32.png');
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	height: 35px;
	width: 35px;
	margin-right: 30px;
	margin-left: -40px;
	margin-top: 30px;
	@media all and(min-width: 500px){
	margin-right: 20px;
	}
}
