.form-title{
	margin: 0;
	color: #ffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	h1, p{
		margin: 10px;
	}
	@media all and(min-width: 500px){
		font-size: 25px;
	}
	@media all and(min-width: 810px){
		font-size: 35px;
		p{
			margin-bottom: 45px;
		}
	}
}
.login-container {
	background: url('../images/login.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.login__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 200px;
	margin: auto;
	background-color: #ffffff;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 0 1px #c4cdd5;
	border: 0;
	@media all and(min-width: 810px){
		width: 350px;
	}
}
.login__inputs {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 20px;
}
.login__input {
	margin: 3px;
	padding-left: 10px;
	box-shadow: 0 0 0 1px #c4cdd5;
	border: 0;
	border-radius: 5px;
	height: 30px;
	weight: 100%;
}
.login__buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
}
.login__button {
	justify-content: space-between;
	margin: 5px;
	width: 100px;
	background-color: #30373b;
	border-radius: 15px;
	border: 0;
	background-color: #00cdd8;
	color: white;
	font-weight: bold;
	cursor: pointer;
	@media all and(min-width: 810px){
		width: 110px;
		height: 35px;
	}
}
.image--user{
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
