.form {
	justify-content: center;
	align-items: center;
}
.login__form {
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
	text-align: center;
  margin-right: 30px;
  margin-left: 40%;
  background-color: #ffffff;
  padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 0 1px #c4cdd5;
	border: 0;
	border-radius: 5px;
}
.login__inputs {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: 30px;
}
.login__input {
	margin: 3px;
	box-shadow: 0 0 0 1px #c4cdd5;
	border: 0;
	border-radius: 5px;
	height: 30px;
	weight: 100%;
}
.login__buttons {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
}
.login__button {
	justify-content: space-between;
	margin: 3px;
	width: 100px;
	background-color: #30373b;
	border-radius: 10px;
	box-shadow: 0 0 0 1px #c4cdd5;
	border: 0;
	border-radius: 5px;
	background-color: #00cdd8;
	color: white;
	font-weight: bold;
}


//
// <div className="form">
// 	<header className="form-header">
// 		<h1 className="form-title">Time tracker</h1>
// 	</header>
// 	<form className="login__form">
// 		<div className="login__inputs">
// 			<input name="onLoginSuccess" value={this.state.email} className="login__input" type="text" placeholder="E-mail" ref="email" onChange={e => this.handleInputChange('email', e.target.value)}/>
// 			<input value={this.state.password} className="login__input" type="password"  placeholder="Password" ref="password" onChange={e => this.handleInputChange('password', e.target.value)}/>
// 		</div>
// 		<div className="login__buttons">
// 			<button className="login__button" type="button" onClick={this.handleAuthEmail}>Log-in</button>
// 			<button className="login__button" type="button" onClick={this.handleAuthGoogle}>Log in con Google
// 			</button>
// 		</div>
// 	</form>
// </div>
