.task__list{
	list-style: none;
}
.task__item{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	list-style: none;
	padding: 0;
}
.task__title{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	color: #282626;
	font-weight: bold;
}
.task__input{
	margin: 10px;
	padding: 5px;
}
.folder__select {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 45px;
	width: 200px;
}
.wat{
	display: none;
	// & :hover{
	// 	display: block;
	// }
}
.project__select{
	height: 20px;
	background-color: #F5BF2E;
}
