.header{
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	background-color: $colorBlack;
}
.logo{
	background: url('../images/logoLeter.png');
	background-repeat: no-repeat;
	width: 180px;
	height: 120px;
	margin-top: 30px;
	margin-left: 30px;

}
.header_title{
	background: -webkit-linear-gradient($colorWhite, $colorPrimary 75%, $colorWhite);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.8;
	display: none;
	@media all and(min-width: 810px){
		display: block;
		font-size: 30px;
	}
}
.welcome--user{
	color: $colorPrimary;
}
.image--user{
	border-radius: 50%;
	height: 30px;
	width: initial;

}
.login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
