.header{
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: $colorBlack;
}
.logo{
	background: url('../images/logoLeter.png');
	background-repeat: no-repeat;
	width: 180px;
	height: 120px;
	margin-top: 40px;
}
.header_title{
	background: -webkit-linear-gradient($colorWhite, $colorPrimary 75%, $colorWhite);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0.8;
	font-size: 50px;
}
.welcome--user{
	color: $colorWhite;
}
.image--user{
	border-radius: 50%;
	height: 40px;
	width: initial;

}
.login{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
