.header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  background-color: black; }

.logo {
  background: url("../images/logoLeter.png");
  background-repeat: no-repeat;
  width: 180px;
  height: 120px;
  margin-top: 30px;
  margin-left: 15px; }
  @media all and (min-width: 810px) {
    .logo {
      margin-left: 25px; } }

.header_title {
  background: -webkit-linear-gradient(#ffffff, #F5BF2E 75%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  display: none; }
  @media all and (min-width: 700px) {
    .header_title {
      display: block;
      font-size: 45px; } }
  @media all and (min-width: 810px) {
    .header_title {
      display: block;
      font-size: 50px; } }
  @media all and (min-width: 1024px) {
    .header_title {
      display: block;
      font-size: 70px; } }

.welcome--user {
  color: #F5BF2E; }

.image--user {
  border-radius: 50%;
  height: 45px;
  width: initial;
  margin-right: 5px; }

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 5px;
  padding-right: 5px;
  padding-bottom: 40px; }

.window {
  list-style: none;
  background-color: black;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; }

li a:hover {
  color: #F5BF2E; }

.nav_menu {
  justify-content: space-between;
  align-items: baseline;
  color: black;
  font-weight: bold;
  text-decoration: none;
  vertical-align: -webkit-baseline-middle; }

.list_menu {
  border-radius: 14% 51% 0 0;
  height: 50px;
  background-color: #f4f6f7;
  justify-content: space-between;
  padding: 0 5px 0 5px;
  border-left: 3px solid black;
  width: 166px; }
  @media all and (min-width: 425px) {
    .list_menu {
      border-radius: 14% 69% 0 0;
      height: 23px; } }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center;
  background: linear-gradient(to bottom right, #f6f7f8 30%, rgba(255, 0, 0, 0)), url("../images/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -23px;
  min-height: 100vh;
  padding-bottom: 20px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #ffffff; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.login__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto; }

.login__button {
  justify-content: space-between;
  margin: 5px;
  height: 35px;
  width: 150px;
  border-radius: 5px;
  border: 0;
  background-color: #F5BF2E;
  color: black;
  opacity: 0.8;
  font-weight: bold;
  cursor: pointer;
  background: -webkit-linear-gradient(#ffffff, #F5BF2E 60%); }
  .login__button:hover {
    opacity: 1; }
  @media all and (min-width: 810px) {
    .login__button {
      width: 200px;
      height: 35px; } }

.new__user {
  background-image: url("../images/newUserBlack32.png"), -webkit-linear-gradient(#ffffff, #F5BF2E 80%);
  background-repeat: no-repeat;
  background-position: right;
  color: black; }

.folder__btn {
  background: url("../images/folder.png") center no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer; }

.project__btn {
  margin: 10px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  background-color: #F5BF2E;
  color: #282626;
  font-weight: bold;
  cursor: pointer;
  background: -webkit-linear-gradient(#ffffff, #F5BF2E 60%); }
  @media all and (min-width: 810px) {
    .project__btn {
      width: 190px;
      height: 35px; } }

.project__btn--add {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: bold; }

.timer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 200px; }

.timer__btn {
  margin: 10px;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 40px; }

.timer__btn--play {
  background: url("../images/play.png") no-repeat center;
  background-size: cover; }

.timer__btn--stop {
  background: url("../images/stop.png") no-repeat center;
  background-size: cover; }

.btn_exit--user {
  background-image: url("../images/iconExit32.png");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  margin-left: -30px;
  margin-top: 60px;
  cursor: pointer; }
  @media all and (min-width: 500px) {
    .btn_exit--user {
      margin-right: 20px; } }

.form-title {
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 53px; }
  .form-title p {
    font-size: 20px;
    color: #ffffff; }
  .form-title h1, .form-title p {
    margin: 10px; }
  .form-title h1 {
    background: -webkit-linear-gradient(#ffffff, #F5BF2E 75%, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    font-size: 50px; }
    @media all and (min-width: 500px) {
      .form-title h1 {
        font-size: 65px; } }
    @media all and (min-width: 810px) {
      .form-title h1 {
        font-size: 70px; } }
    @media all and (min-width: 1024px) {
      .form-title h1 {
        font-size: 80px; } }
  @media all and (min-width: 500px) {
    .form-title {
      font-size: 25px; } }
  @media all and (min-width: 810px) {
    .form-title {
      font-size: 35px; }
      .form-title p {
        margin-bottom: 45px; } }

.ui-dialog {
  background-color: #f0f3f6 !important;
  display: flex;
  justify-content: flex-end; }

.login__input__dialog {
  color: grey;
  margin: 10px;
  margin-bottom: 30px;
  height: 30px;
  weight: 100%;
  border-style: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  font-weight: bolder;
  font-size: 14px; }

.login__input__dialog::placeholder {
  color: #9D9BAA;
  text-align: right;
  font-size: 16px;
  padding-right: 12px; }

.ui-dialog.title {
  color: #9D9BAA; }

.dialog-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  color: #9D9BAA;
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold; }

.dialog_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px; }

.close-container {
  display: flex;
  justify-content: flex-end;
  height: 60px; }

.dialog {
  justify-content: space-between; }

@media all and (min-width: 630px) {
  .newUser-window {
    width: 200px;
    padding-top: 0; } }

.login-container {
  background: url("../images/login.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center;
  opacity: .9; }

.login__input::placeholder {
  color: black; }

.close_button {
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end; }

.ui-widget-overlay {
  display: none; }

.new__user {
  background-image: url("../images/newUserBlack32.png"), -webkit-linear-gradient(white, #F5BF2E 80%);
  background-repeat: no-repeat;
  background-position: right;
  color: black; }

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 15px;
  padding-top: 40px; }
  @media all and (min-width: 810px) {
    .login__form {
      width: 350px;
      padding-top: 0; } }

.login__inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px;
  width: 247px;
  margin-left: -22px; }
  @media all and (min-width: 810px) {
    .login__inputs {
      width: 314px;
      margin-left: 18px; } }
  @media all and (min-width: 1024px) {
    .login__inputs {
      width: 400px;
      margin-left: -30px; } }

.login__input {
  margin: 3px;
  height: 30px;
  weight: 100%;
  border-style: none;
  border-bottom: 2px solid #ffffff;
  background-color: inherit;
  color: #ffffff;
  font-weight: bolder;
  font-size: 14px; }

.login__input::placeholder {
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  padding-right: 12px; }
  @media all and (min-width: 810px) {
    .login__input::placeholder {
      padding-right: 20px; } }

.timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px; }

.timer__counter {
  margin: 0 20px;
  display: flex;
  align-items: center; }

.task__container {
  padding: 15px; }
  @media all and (min-width: 768px) {
    .task__container {
      padding: 35px 20px 35px 35px; } }
  @media all and (min-width: 1024px) {
    .task__container {
      padding: 40px 30px 40px 65px; } }
  @media all and (min-width: 1220px) {
    .task__container {
      padding: 40px 30px 40px 85px; } }

.task__title {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 9px;
  color: #282626;
  font-weight: bold; }
  @media all and (min-width: 425px) {
    .task__title {
      grid-template-columns: repeat(7, 1fr); } }
  @media all and (min-width: 1024px) {
    .task__title {
      grid-gap: 20px; } }

.span1 {
  grid-column: 1 / 3;
  text-align: left; }

.span2 {
  grid-column: 3 / 5;
  text-align: left; }

.span3 {
  grid-column: 5 / 6; }

.span4 {
  grid-column: 6 / 7; }

.span5 {
  grid-column: 7 / 9; }
  @media all and (min-width: 425px) {
    .span5 {
      grid-column: 7 / 8; } }

.task__list {
  padding-top: 30px;
  list-style: none; }

.task__item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  list-style: none;
  padding: 0; }
  @media all and (min-width: 375px) {
    .task__item {
      grid-gap: 9px; } }
  @media all and (min-width: 1024px) {
    .task__item {
      grid-gap: 20px; } }

.item__data {
  text-align: left; }

.item1 {
  grid-column: 1 / 3; }

.item2 {
  grid-column: 3 / 5; }

.item3 {
  grid-column: 5 / 6; }

.item4 {
  grid-column: 6 / 7; }

.item5 {
  grid-column: 7 / 8; }

.task__input {
  margin: 10px;
  padding: 5px; }

.folder__select {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 45px;
  right: 155px;
  width: 200px; }
  @media all and (min-width: 450px) {
    .folder__select {
      right: 0; } }

.select__btn--folder {
  width: 180px; }

.project__select {
  height: 20px;
  background-color: #F5BF2E; }

#barras {
  width: auto !important;
  height: auto !important;
  margin-top: 25px; }
