body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.App {
  text-align: center; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.form-title {
  margin: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; }
  .form-title h1, .form-title p {
    margin: 10px; }
  @media all and (min-width: 500px) {
    .form-title {
      font-size: 25px; } }
  @media all and (min-width: 810px) {
    .form-title {
      font-size: 35px; }
      .form-title p {
        margin-bottom: 45px; } }

.login-container {
  background: url("../images/login.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 15px; }
  @media all and (min-width: 810px) {
    .login__form {
      width: 350px; } }

.login__inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px; }

.login__input {
  margin: 3px;
  height: 30px;
  weight: 100%;
  border-style: none;
  border-bottom: 2px solid white;
  background-color: inherit;
  color: white;
  font-weight: bolder;
  font-size: 14px; }

.login__input::placeholder {
  color: white;
  text-align: right;
  font-size: 18px;
  padding-right: 12px; }

.login__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: auto; }

.login__button {
  justify-content: space-between;
  margin: 5px;
  height: 25px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  color: black;
  opacity: 0.7;
  font-weight: bold;
  cursor: pointer; }
  @media all and (min-width: 810px) {
    .login__button {
      width: 200px;
      height: 35px; } }

.image--user {
  width: 250px;
  height: 250px;
  border-radius: 50%; }

.timer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 40px;
  border: 2px groove rgba(128, 128, 128, 0.4); }

.timer__counter {
  margin: 0 20px; }

.timer__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 200px; }

.timer__btn {
  padding: 8px;
  border-radius: 5px;
  border-style: groove;
  height: 40px;
  width: 60px;
  font-weight: bold; }

.timer__btn--play {
  background: #69f76a;
  border-color: #69f76a; }

.timer__btn--pause {
  background: orange;
  border-color: orange; }

.timer__btn--stop {
  background: red;
  border-color: red; }

.task__list {
  list-style: none;
  padding: 20px 40px; }

.task__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px; }

#barras {
  width: 600px !important;
  height: 100px !important;
  margin-left: 350px !important; }

#quesito {
  width: 500px !important;
  height: 250px !important;
  margin-left: 400px !important; }
